* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #676663;
  letter-spacing: 3px;

  padding: 50px;
  background-color: #e2dbd1;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* height: 100vh;
  justify-content: center; */

  position: relative;
}

header {
  margin-bottom: 60px;
}

header h1 {
  font-size: 60px;
  font-weight: 300;
  color: black;
  letter-spacing: 10px;

  padding: 0px 40px 10px;
  border-bottom: 1px solid #676663;

  margin-bottom: 20px;
}

.desc {
  font-size: 14px;
  text-align: center;
}

main {
  width: 100%;
  max-width: 1000px;
}

.game-grid {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  gap: 50px;

  margin-bottom: 80px;
}

.player {
  background-color: #efede6;
  padding: 30px;
  border-radius: 20px;
  opacity: 0.5;

  transition: all 0.3s;
}

.player--active {
  box-shadow: 0px 5px 10px #67666375;
  transform: scale(1.1);
  opacity: 1;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid #67666375;

  margin-bottom: 20px;
}

.player-info p {
  font-size: 14px;
  margin-bottom: 20px;

  text-align: center;
}

.player-info h1 {
  font-size: 72px;
  font-weight: 300;
  color: black;

  line-height: 65px;
  margin-bottom: 5px;
}

.player-info .font-small {
  font-size: 10px;
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current p {
  font-size: 14px;
  margin-bottom: 5px;
}

.current h2 {
  font-size: 30px;
  font-weight: 300;
  color: #6e6860;
}

.control-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dice-container {
  width: 150px;
  height: 150px;

  background-color: #fafaf8;
  border-radius: 20px;

  box-shadow: 0px 5px 10px #67666375;

  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.dice-holder {
  width: 70px;
  height: 70px;

  border: 2px dashed #67666375;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  color: #67666375;
  letter-spacing: 2px;
}

.dice {
  width: 100px;
  height: 100px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  opacity: 0;
}

.btn {
  width: 100%;
  padding: 15px;

  font-size: 14px;
  letter-spacing: 3px;

  border: none;
  border-radius: 25px;

  cursor: pointer;

  transition: all 0.3s;
}

.btn--roll {
  background-color: black;
  color: #fafaf8;

  margin-bottom: 10px;
}

.btn--hold {
  background-color: #c9bfb3;
  color: black;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn--new {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 50px;
  height: 50px;

  border: none;
  border-radius: 25px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s;
}

.btn--new img {
  width: 20px;
  height: 20px;
}

.btn--new:hover {
  transform: scale(1.1) rotate(180deg);
}

.player--winner {
  background-color: #bde2bd;
}

@media (max-width: 750px) {
  .game-grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  .player--1 {
    order: 2;
  }

  .control-column {
    order: 3;
    grid-column: span 2;
  }

  .btn {
    width: 200px;
  }
}

@media (max-width: 450px) {
  body {
    padding: 30px;
  }

  header {
    margin-bottom: 40px;
  }

  header h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .desc {
    font-size: 12px;
  }

  .game-grid {
    gap: 30px;
    margin-bottom: 40px;
  }

  .player p {
    font-size: 12px;
  }

  .player-info h1 {
    font-size: 50px;
    line-height: 40px;
  }

  .current h2 {
    font-size: 20px;
  }
}
